@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    --background-color: #1f2326;

    --main-color:       #00abf0;
    --card-bg-color:    #2a2e32;
    --text-color:       #ffffff;

    --htm-color:        #f06529;
    --javascript-color: #fdd634;
    --reactjs-color:    #00d8ff;
    --nodejs-color:     #6caa48;
    --expressjs-color:  #01041d;
    --mongodb-color:    #599636;
    --php-color:        #484c89;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

.timeline {
    position: relative;
    max-width: 700px;
    margin: auto;
}

.container {
    padding: 20px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) { animation-delay: 0s; }
.container:nth-child(2) { animation-delay: 1s; }
.container:nth-child(3) { animation-delay: 2s; }
.container:nth-child(4) { animation-delay: 3s; }
.container:nth-child(5) { animation-delay: 4s; }
.container:nth-child(6) { animation-delay: 5s; }
.container:nth-child(7) { animation-delay: 6s; }

.text-box {
    padding: 20px;
    background: var(--card-bg-color);
    position: relative;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.company {
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: .1rem;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 75px;
    border-radius: 28%;
    right: -30px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    top: 32px;
    left: -42px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--main-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow, .right-container-arrow {
    display: none; /* Remove arrows */
}

/* Responsive Timeline */
@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 18px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .right-container img, .left-container img {
        left: 10px;
    }
}
